.App {
    overflow: hidden; /* Hide overflow to prevent scrollbars */
  }
  
  .container {
    display: flex;
    width: 200vw; /* Width to accommodate both panels side by side */
    transition: transform 0.5s ease-in-out;
    transform: translateX(0); /* Initial position */
  }
  
  .panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .panel h1 {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  .visible {
    transform: translateX(0);
  }
  
  .hidden {
    transform: translateX(-100vw); /* Slide the panel out of view */
    transition: transform 0.5s ease-in-out;
  }
  
  .bg-red-400 {
    background-color: #f87171;
  }
  
  .bg-blue-400 {
    background-color: #60a5fa;
  }
  